# X-band config script, modified for using the BTLManager
# This is the standard X-band config until futher notice.
# Three bank observing with 24 nodes. Center Frequency is 9375 MHz

btlMode = 'CODD_MODE_512_32'

# Main configuration
config_g="""
receiver = 'Rcvr4_6'
restfreq = [
   {'bank':'A','restfreq':7687.500000},
   {'bank':'B','restfreq':6562.500000},
   {'bank':'C','restfreq':5437.500000},
   {'bank':'D','restfreq':4312.500000}
]
dopplertrackfreq = 6500.0
obstype = 'Spectroscopy'
backend = 'VEGAS'
bandwidth = 1500
tint  = 1
swper=0.5
swmode = 'tp_nocal'
vframe = 'topo'
nchan = 1024
"""

DCRConfig="""
receiver = 'Rcvr4_6'
restfreq = %freq
deltafreq=0
nwin=1
obstype = 'Continuum'
backend = 'DCR'
bandwidth = 20
tint = 0.5
swper=0.5
swmode = 'tp'
vframe = 'topo'
vdef='Radio'
"""
DCRConfig=DCRConfig.replace("%freq",str(float(orbits['freq'])*1000))

execfile('/home/groups/btl/ORBITS/CurrentVersion/CommonConfig.py')
