#temp 



execfile('/users/rmaddale/BTL/CurrentVersion/btlmgr_utils.py')
global oreo

rcvr = GetValue("LO1","receiver")

if rcvr != "Rcvr2_3":
   print "Current Receiver is NOT S-band"
   Break(("Current Receiver is " +rcvr+", NOT S-band, aka Rcvr2_3"), None)

#SetValues("VEGAS",{"state":"on"})

ResetConfig()

DCRConfig="""
receiver = 'Rcvr2_3'
restfreq = 2400.0
deltafreq=0
nwin=1
obstype = 'Continuum'
backend = 'DCR'
bandwidth = 20
tint = 0.5
swper=0.5
swmode = 'tp'
vframe = 'topo'
vdef='Radio'
"""

# Main configuration
#restfreq_40 = 4000.,4000.,4000.,4000.,4000.,4000.,4000.,4000.
#restfreq_47 = 4700.,4700.,4700.,4700.,4700.,4700.,4700.,4700.
config_g="""
receiver = 'Rcvr2_3'
restfreq = [
    {"bank":"A","restfreq":2400.0}]
dopplertrackfreq = 2400.
obstype = 'Spectroscopy'
backend = 'VEGAS'
bandwidth = 1500
tint  = 1
swmode = 'tp_nocal'
noisecal = 'lo'
swtype = 'none'
swper = 0.04
swfreq = 0.0
nwin = 1
deltafreq = 0
vlow = 0
vhigh = 0
vframe = 'topo'
vdef = 'Radio'
nchan = 1024
"""

# Initial configure
Configure(config_g)

# Do Balance()?
if 'doBalance' in oreo and oreo['doBalance']:
    Balance()

# Set BTL mode
set_btl_mode('CODD_MODE_512')

# Use DCR as switching signal master
SetValues("SwitchingSignalSelector",{
    "selCal": "Source_0",
    "selSigRef": "Source_0",
    "selAdvSigRef": "Source_0",
    "selBlanking": "Source_0"
})
SetValues("ScanCoordinator", {
    "subsystemSelect,DCR":"1",
    "switching_signals_master": "DCR"
})

#Turn off Cal
rcvr = GetValue("LO1","receiver")
if rcvr in ["Rcvr12_18","RcvrArray18_26","Rcvr26_40","Rcvr40_52","Rcvr68_92","RcvrArray75_116","Rcvr_MBA1_5"]:
    print "I'm sorry Dave, I'm afraid I can't do that."
    Break("Advanced control of receiver noise diodes is not supported for %s"%rcvr)

else:
    SetValues(rcvr, {
        "xlExtToMCBCtrlSel":"ctlMcb",
        "yrExtToMCBCtrlSel":"ctlMcb",
        "xlCPUNoiseSwCtrl":"swOff",
        "yrCPUNoiseSwCtrl":"swOff"
    })

