# This is the standard C-band config until futher notice.

execfile('/home/groups/btl/ORBITS/CurrentVersion/btlmgr_utils.py')
global orbits

rcvr = GetValue("LO1","receiver")
useDCR = True

if rcvr != "Rcvr4_6":
   print "Current Receiver is NOT C-band"
   Break(("Current Receiver is " +rcvr+", NOT C-band, aka Rcvr4_6"), None)

ResetConfig()

DCRConfig="""
receiver = 'Rcvr4_6'
restfreq = %freq
deltafreq=0
nwin=1
obstype = 'Continuum'
backend = 'DCR'
bandwidth = 20
tint = 0.5
swper=0.5
swmode = 'tp'
vframe = 'topo'
vdef='Radio'
"""
DCRConfig=DCRConfig.replace("%freq",str(float(orbits['freq'])*1000))

config_g="""
receiver = 'Rcvr4_6'
beam = 'B1'
restfreq = [
   {'bank':'A','restfreq':7687.500000},
   {'bank':'B','restfreq':6562.500000},
   {'bank':'C','restfreq':5437.500000},
   {'bank':'D','restfreq':4312.500000}
]
nwin = 4
dopplertrackfreq = 6500.0
deltafreq = 0,0,0,0
obstype = 'Spectroscopy'
backend = 'VEGAS'
bandwidth = 1500.0
tint  = 1
swmode = 'tp_nocal'
noisecal = 'lo'
swtype = 'none'
swper = 0.04
swfreq = 0.0, 0.0, 0.0
vlow = 0
vhigh = 0
vframe = 'topo'
vdef = 'Radio'
nchan = 1024
"""

# Initial configure
PubBLHead("Configuring C-band")
Configure(config_g)

# Do Balance()?
if orbits['doBalance']:
    Balance()

# Set BTL mode
set_btl_mode('CODD_MODE_512_32')

# Use DCR as switching signal master
if (useDCR == True) :
    print "Using DCR as switching signal master"
    SetValues("SwitchingSignalSelector",{
        "selCal": "Source_0",
        "selSigRef": "Source_0",
        "selAdvSigRef": "Source_0",
        "selBlanking": "Source_0"
    })
    SetValues("ScanCoordinator", {
        "subsystemSelect,DCR":"1",
        "switching_signals_master": "DCR"
    })

