# This is the standard RcvrPF1_342 config until futher notice.

execfile('/home/groups/btl/ORBITS/CurrentVersion/btlmgr_utils.py')

rcvr = GetValue("LO1","receiver")

if rcvr != "Rcvr_342":
   print "Current Receiver is NOT PF1-320-band"
   Break(("Current Receiver is " +rcvr+", NOT PF1-342-band, aka Rcvr_342"), None)

ResetConfig()

# Main configuration
config_g="""
receiver = 'Rcvr_342'
restfreq = 340.
dopplertrackfreq = 340.
obstype = 'Spectroscopy'
backend = 'VEGAS'
bandwidth = 1500
tint  = 1
swmode = 'tp_nocal'
noisecal = 'lo'
swtype = 'none'
swper = 0.04
swfreq = 0.0, 0.0
nwin = 1
deltafreq = 0
vlow = 0
vhigh = 0
vframe = 'topo'
vdef = 'Radio'
nchan = 1024
"""

# Initial configure
Configure(config_g)

# Do Balance()?
# I think this file needs a "global orbits" declaration to be ORBITS-compatible - davidm 2020-06-26
if True: #orbits['doBalance']:
    # Wait up to 2 minutes for VEGAS to be Ready
    # VEGAS should already be Ready, but sometimes it is Activating instead of
    # Ready for some unknown reason and that causes the Balance() call to fail.
    is_ready = wait_for_state('VEGAS', 'Ready', 120)
    print 'VEGAS ready == %s' % is_ready
    Balance()

# Set BTL mode
set_btl_mode('CODD_MODE_512')

# Use DCR as switching signal master
SetValues("SwitchingSignalSelector",{
    "selCal": "Source_0",
    "selSigRef": "Source_0",
    "selAdvSigRef": "Source_0",
    "selBlanking": "Source_0"
})
SetValues("ScanCoordinator", {
    "subsystemSelect,DCR":"1",
    "switching_signals_master": "DCR"
})

