# X-band config script cleaned up 1/11/2018
# This is the standard X-band config until futher notice.
# Three bank observing with 24 nodes. Center Frequency is 9375 MHz

execfile('/home/groups/btl/ORBITS/CurrentVersion/btlmgr_utils.py')
global orbits

rcvr = GetValue("LO1","receiver")

if rcvr != "Rcvr8_10":
   print "Current Receiver is NOT X-band"
   Break(("Current Receiver is " +rcvr+", NOT X-band, aka Rcvr8_10"), None)

ResetConfig()

DCRConfig="""
receiver = 'Rcvr8_10'
restfreq = %freq
deltafreq=0
nwin=1
obstype = 'Continuum'
backend = 'DCR'
bandwidth = 20
tint = 0.5
swper=0.5
swmode = 'tp'
vframe = 'topo'
vdef='Radio'
"""
DCRConfig=DCRConfig.replace("%freq",str(float(orbits['freq'])*1000))

# Main configuration
#restfreq_40 = 4000.,4000.,4000.,4000.,4000.,4000.,4000.,4000.
#restfreq_47 = 4700.,4700.,4700.,4700.,4700.,4700.,4700.,4700.
config_g="""
receiver = 'Rcvr8_10'
restfreq = [
    {"bank":"C","restfreq":8250.0},
    {"bank":"B","restfreq":9375.0},
    {"bank":"A","restfreq":10500.0}]
dopplertrackfreq = 9375.0
obstype = 'Spectroscopy'
backend = 'VEGAS'
bandwidth = 1500
tint  = 1
swmode = 'tp_nocal'
noisecal = 'lo'
swtype = 'none'
swper = 0.04
swfreq = 0.0, 0.0, 0.0
nwin = 3
deltafreq = 0,0,0
vlow = 0
vhigh = 0
vframe = 'topo'
vdef = 'Radio'
nchan = 1024
"""

# Initial configure
PubBLHead("Configurig X-band")
Configure(config_g)

# Do Balance()?
if 'doBalance' in orbits and orbits['doBalance']:
    Balance()

# Set BTL mode
set_btl_mode('CODD_MODE_512_24')

# Use DCR as switching signal master
SetValues("SwitchingSignalSelector",{
    "selCal": "Source_0",
    "selSigRef": "Source_0",
    "selAdvSigRef": "Source_0",
    "selBlanking": "Source_0"
})
SetValues("ScanCoordinator", {
    "subsystemSelect,DCR":"1",
    "switching_signals_master": "DCR"
})
