# L-band config script cleaned up 1/11/2018
# This is the standard L-band config until futher notice.

ResetConfig()

DCRConfig="""
receiver = 'Rcvr_800'
restfreq = %freq
deltafreq=0
nwin=1
obstype = 'Continuum'
backend = 'DCR'
bandwidth = 20
tint = 0.5
swper=0.5
swmode = 'tp'
vframe = 'topo'
vdef='Radio'
"""
DCRConfig=DCRConfig.replace("%freq",str(float(oreo['freq'])*1000))

# Main configuration
config_g="""
receiver = 'Rcvr_800'
restfreq = 800.,800.,800.,800.,800.,800.,800.,800.
notchfilter = "out"
obstype = 'Spectroscopy'
backend = 'VEGAS'
pol = 'Linear'
bandwidth = 1500
tint  = 1
swmode = 'tp_nocal'
noisecal = 'off'
swtype = 'none'
swper = 0.5
swfreq = 0.0, 0.0
nwin = 8
deltafreq = 0,0,0,0,0,0,0,0
vlow = 0
vhigh = 0
vframe = 'topo'
vdef = 'Radio'
nchan = 1024
"""

# Initial configure
Configure(config_g)

SetValues("ScanCoordinator",{"subsystemSelect,VEGAS":0})
SetValues("VEGAS",{"state":"off"})
