# X-band config script, modified for using the BTLManager
# This is the standard X-band config until futher notice.
# Three bank observing with 24 nodes. Center Frequency is 9375 MHz

btlMode = 'CODD_MODE_512'

# Main configuration
config_g="""
receiver = 'Rcvr8_10'
restfreq = [
    {"bank":"C","restfreq":8250.0},
    {"bank":"B","restfreq":9375.0},
    {"bank":"A","restfreq":10500.0}]
dopplertrackfreq = 9375.0
obstype = 'Spectroscopy'
backend = 'VEGAS'
bandwidth = 1500
tint  = 1
swper=0.5
swmode = 'tp_nocal'
vframe = 'topo'
nchan = 1024
"""

DCRConfig="""
receiver = 'Rcvr8_10'
restfreq = %freq
obstype = 'Continuum'
backend = 'DCR'
bandwidth = 20
tint = 0.5
swper=0.5
swmode = 'tp'
vframe = 'topo'
"""
DCRConfig=DCRConfig.replace("%freq",str(float(oreo['freq'])*1000))

execfile('/home/groups/btl/OREO/CurrentVersion/CommonConfig.py')
