# Ku-band config script, created by RJM on May 22, 2019
# Eight bank observing with 64 nodes. Center Frequency is 13900 MHz

execfile('/users/rmaddale/BTL/CurrentVersion/btlmgr_utils.py')
global oreo

rcvr = GetValue("LO1","receiver")

if rcvr != "Rcvr12_18":
   print "Current Receiver is NOT Ku-band"
   Break(("Current Receiver is " +rcvr+", NOT Ku-band, aka Rcvr12_18"), None)

ResetConfig()

DCRConfig="""
receiver = 'Rcvr12_18'
beam='B12'
restfreq = 15000.0
deltafreq=0
nwin=1
obstype = 'Continuum'
backend = 'DCR'
bandwidth = 20
tint = 0.5
swper=0.5
swmode = 'tp'
vframe = 'topo'
vdef='Radio'
"""

# Main configuration
config_g="""
receiver = 'Rcvr12_18'
restfreq = [
    {"bank":"D","restfreq":12200.0,"beam":"1"},
    {"bank":"C","restfreq":13300.0,"beam":"1"},
    {"bank":"B","restfreq":14400.0,"beam":"1"},
    {"bank":"A","restfreq":15500.0,"beam":"1"},
    {"bank":"H","restfreq":12200.0,"beam":"2"},
    {"bank":"G","restfreq":13300.0,"beam":"2"},
    {"bank":"F","restfreq":14400.0,"beam":"2"},
    {"bank":"E","restfreq":15500.0,"beam":"2"}]
dopplertrackfreq = 13900.0
obstype = 'Spectroscopy'
backend = 'VEGAS'
bandwidth = 1500
tint  = 1
swmode = 'tp_nocal'
noisecal = 'lo'
swtype = 'none'
swper = 0.04
nwin = 8
deltafreq = 0,0,0,0,0,0,0,0
vlow = 0
vhigh = 0
vframe = 'topo'
vdef = 'Radio'
nchan = 1024
"""

# Initial configure
Configure(config_g)

# Do Balance()?
if 'doBalance' in oreo and oreo['doBalance']:
    Balance()

# Set BTL mode
set_btl_mode('CODD_MODE_512_64')

# Use DCR as switching signal master
SetValues("SwitchingSignalSelector",{
    "selCal": "Source_0",
    "selSigRef": "Source_0",
    "selAdvSigRef": "Source_0",
    "selBlanking": "Source_0"
})
SetValues("ScanCoordinator", {
    "subsystemSelect,DCR":"1",
    "switching_signals_master": "DCR"
})
